@import url("http://fonts.googleapis.com/css?family=Oswald:400,300,700");
@import url("https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Paytone+One&family=Permanent+Marker&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Paytone+One&family=Permanent+Marker&family=Yeseva+One&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-size: 16px;
  overflow-x: hidden;
  text-align: center;
  height: 100%;
}

.profile-img {
  width: 160px;
  height: 160px;
}
.center {
  margin: auto;
}
input {
  text-align: center;
}

.form {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

h1 {
  font-family: "Permanent Marker", cursive IM !important;
}

.navbar-inverse li a {
  color: white;
  font-weight: 700;
  margin-left: 15px;
}
.navbar-inverse {
  background-color: orange;
}
.navbar-inverse .navbar-brand {
  color: white;
  font-weight: bold;
}

.pagination {
  margin-left: 100px;
}

.predmeti {
  width: 500px;
  height: vh;
  font-family: "Yeseva One", cursive;
}

.cont h1 {
  margin: 20px 0px;
  font-family: "Paytone One", sans-serif;
}

.flexcont {
  display: flex;
  gap: 30px;
}

a:link {
  color: black;
  text-decoration: none;
}
a:visited {
  color: black;
  text-decoration: none;
}
a:active {
  color: black;
  text-decoration: underline;
}
a:hover {
  color: black;
  cursor: pointer;
  border-bottom: 1px solid;
}

.centerdiv {
  position: absolute;
  top: 30%;
  left: 50%;
  margin-top: -70px;
  margin-left: -50px;
  width: 200px;
  height: 100px;
}

.parent {
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.child {
  width: 200px;
  height: 100px;
}
.alert {
  padding: 20px; 
  color: #f44336;
  font-weight: 700;
}
.link-btn {
  background:  #ffc107;
  border-radius: 12px;
  font-weight: 400;
  padding: 10px 5px;
 
}

/* CSS */
.button-red {
  background: linear-gradient(to bottom right, #ef4747, #ff9a5a);
  border: 0;
  border-radius: 12px;
  color: #ffffff;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system, system-ui, "Segoe UI", Roboto, Helvetica, Arial,
    sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 2.5;
  outline: transparent;
  padding: 0 1rem;
  text-align: center;
  text-decoration: none;
  transition: box-shadow 0.2s ease-in-out;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
}

.button-red:not([disabled]):focus {
  box-shadow: 0 0 0.25rem rgba(0, 0, 0, 0.5),
    -0.125rem -0.125rem 1rem rgba(239, 71, 101, 0.5),
    0.125rem 0.125rem 1rem rgba(255, 154, 90, 0.5);
}

.button-red:not([disabled]):hover {
  box-shadow: 0 0 0.25rem rgba(0, 0, 0, 0.5),
    -0.125rem -0.125rem 1rem rgba(239, 71, 101, 0.5),
    0.125rem 0.125rem 1rem rgba(255, 154, 90, 0.5);
}

/* CSS */
.button-green {
  background: linear-gradient(to bottom right, #0cd040, #7ff84b);
  border: 0;
  border-radius: 12px;
  color: #ffffff;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system, system-ui, "Segoe UI", Roboto, Helvetica, Arial,
    sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 2.5;
  outline: transparent;
  padding: 0 1rem;
  text-align: center;
  text-decoration: none;
  transition: box-shadow 0.2s ease-in-out;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
}

.button-green:not([disabled]):focus {
  box-shadow: 0 0 0.25rem rgba(0, 0, 0, 0.5),
    -0.125rem -0.125rem 1rem rgba(88, 239, 71, 0.5),
    0.125rem 0.125rem 1rem rgba(173, 255, 90, 0.5);
}

.button-green:not([disabled]):hover {
  box-shadow: 0 0 0.25rem rgba(0, 0, 0, 0.5),
    -0.125rem -0.125rem 1rem rgba(88, 239, 71, 0.5),
    0.125rem 0.125rem 1rem rgba(173, 255, 90, 0.5);
}
